<?xml version="1.0"?>
<config>
	<global>
		<models>
            <gallery>
                <class>Sm_Gallery_Model</class>
            </gallery>
        </models>
		<blocks>
            <gallery>
                <class>Sm_Gallery_Block</class>
            </gallery>            		
        </blocks>				
		<helpers>
            <gallery>
                <class>Sm_Gallery_Helper</class>
            </gallery>
        </helpers>
        <resources>
        	<gallery_setup>
        		<setup>
        			<module>Sm_Gallery</module>
        		</setup>
        	</gallery_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<gallery>
                <use>standard</use>
                <args>
                    <module>Sm_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
		<layout>
            <updates>
                <gallery module="Sm_Gallery">
					<file>sm/gallery.xml</file>
                </gallery>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Gallery>
                     <files>
                          <default>Sm_Gallery.csv</default>
                     </files>
                </Sm_Gallery>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Gallery>
                     <files>
                          <default>Sm_Gallery.csv</default>
                     </files>
                </Sm_Gallery>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<gallery_cfg translate="title" module="gallery">
											<title>SM Gallery Settings</title>
										</gallery_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <gallery_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SM Gallery</title>
            </general>
			<module_setting>
				<theme>default</theme>
				<folder></folder>
				<numberImage>27</numberImage>
				<items_page>9</items_page>
				<orderby>1</orderby>
				<sort>1</sort>
				<titleposition>over</titleposition>
				<transition>elastic</transition>
				<show_nextprev>1</show_nextprev>
				<play>1</play>
				<interval>5000</interval>
				<effect>slide</effect>
				<!--product_image_width>300</product_image_width>
				<product_image_height>200</product_image_height-->
			</module_setting>			
			<advanced>
				<deviceclass_sfx>preset01-4 preset02-3 preset03-2 preset04-1 preset05-1</deviceclass_sfx>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </gallery_cfg>
    </default>
</config>