<?xml version="1.0"?>
<config>
    <modules>
        <MageLynx_Configurator>
            <version>0.1.0</version>
        </MageLynx_Configurator>
    </modules>    
    <global>
        <helpers>
            <configurator>
                <class>MageLynx_Configurator_Helper</class>            
            </configurator>
        </helpers>
        <blocks>            
            <configurator>
                <class>MageLynx_Configurator_Block</class>
            </configurator>
        </blocks>
        <models>
            <configurator>
                <class>MageLynx_Configurator_Model</class>
                <resourceModel>configurator_resource</resourceModel>                
            </configurator>            
            <configurator_resource>
                    <class>MageLynx_Configurator_Model_Resource</class>
                    <entities>                        
                        <attribute>
                            <table>magelynx_product_attribute</table>
                        </attribute>
                        <attribute_option>
                            <table>magelynx_product_attribute_option</table>
                        </attribute_option>
                        <layer>
                            <table>magelynx_configurator_layer</table>
                        </layer>
                        <layer_option>
                            <table>magelynx_configurator_layer_option</table>
                        </layer_option>
                    </entities>
            </configurator_resource>
        </models>        
        <resources>
            <configurator_setup>
                <setup>
                    <module>MageLynx_Configurator</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </configurator_setup>
            <configurator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </configurator_write>
            <configurator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </configurator_read>
        </resources>        
    </global> 
    <frontend>
        <events>            
            <sales_order_place_after>
                <observers>
                    <configurator_order_place_after>
                        <class>configurator/observer</class>
                        <method>orderPlaceAfter</method>
                    </configurator_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_cart_save_before>
                <observers>
                    <configurator_cart_save_before>
                        <class>configurator/observer</class>
                        <method>cartSaveBefore</method>
                    </configurator_cart_save_before>
                </observers>
            </checkout_cart_save_before>
            
            <core_block_abstract_to_html_before>
                <observers>
                    <configurator_to_html_before>
                        <class>configurator/observer</class>
                        <method>frontendBlockToHtmlBefore</method>
                    </configurator_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <configurator_prepare_product_options>
                        <class>configurator/observer</class>
                        <method>prepareProductOptions</method>
                    </configurator_prepare_product_options>
                </observers>
            </catalog_product_type_prepare_full_options>
        </events>
        <layout>
            <updates>
                <configurator>
                    <file>magelynx_configurator.xml</file>
                </configurator>
            </updates>
        </layout>
        <configurator>
            <use>standard</use>
            <args>
                <module>MageLynx_Configurator</module>
                <frontName>configurator</frontName>
            </args>
        </configurator>
    </frontend>
    <admin>
        <routers>
			<configurator>
				<use>admin</use>
				<args>
					<module>MageLynx_Configurator</module>
					<frontName>configurator</frontName>
				</args>
			</configurator>
        </routers>        
    </admin>
    <adminhtml>        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <configurator>
                                            <title>MageLynx Configurator - All</title>
                                        </configurator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>         
        
            <model_save_after>
                <observers>
                    <magelynx_configurator_adminhtml_model_save_after>
                        <class>configurator/observer</class>
                        <method>modelSaveAfter</method>
                    </magelynx_configurator_adminhtml_model_save_after>
                </observers>
            </model_save_after>
            
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <magelynx_configurator_attribute_prepare_form>
                        <class>configurator/observer</class>
                        <method>adminAttributePrepareForm</method>
                    </magelynx_configurator_attribute_prepare_form>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
                                                            
            <core_block_abstract_to_html_before>
                <observers>
                    <magelynx_configurator_adminhtml_block_html_before>
                        <class>configurator/observer</class>
                        <method>adminBlockToHtmlBefore</method>
                    </magelynx_configurator_adminhtml_block_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            
        </events>
        <layout>
            <updates>
                <configurator>
                    <file>magelynx_configurator.xml</file>
                </configurator>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <configurator>
            <settings>
                <width>300</width>
                <height>300</height>
            </settings>
        </configurator>
    </default>
</config>